# Visual Studio specific
.vs/
*.vcxproj.user
*.suo
*.user
*.ipch
*.aps
*.ncb
*.obj
*.pch
*.pdb
*.idb
*.res
*.log
*.tlog
*.lastbuildstate
*.opensdf
*.sdf
*.cache
*.ilk

# Compiled Object files
*.o
*.obj
*.slo
*.lo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.tmp
*.class

# Other prerequisites
*.d
